anthropic
chromadb
cryptography
fastapi
google_api_python_client
httpx
langchain
langchain_cohere
langchain_core
langchain_openai
langchain_text_splitters
llama_index
logger
motor
msal
neo4j
nomic
numpy
ollama
openai
Pillow
pinecone
protobuf
pydantic
pydantic_settings
PyPDF2
pytesseract
python-dotenv
python_docx
Requests
sentence_transformers
uvicorn
weaviate
